/*===========================================================================================
        Font-Faces
=============================================================================================*/
/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/playfair-display/playfair-display-v29-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../assets/fonts/playfair-display/playfair-display-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/playfair-display/playfair-display-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/playfair-display/playfair-display-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/playfair-display/playfair-display-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/playfair-display/playfair-display-v29-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/roboto/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../assets/fonts/roboto/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/roboto/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/roboto/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/roboto/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/roboto/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/roboto/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../assets/fonts/roboto/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/roboto/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/roboto/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/roboto/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/roboto/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/roboto/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../assets/fonts/roboto/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/roboto/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/roboto/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/roboto/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/roboto/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/icons/MaterialIcons-Regular.ttf'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../../assets/icons/MaterialIcons-Regular.ttf') format('truetype');
}

/*===========================================================================================
        Material Icons
=============================================================================================*/
.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: var(--txt-light);
  transition: color 150ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons:hover {
  color: var(--txt-primary);
  cursor: pointer;
}

/*===========================================================================================
        Globals
=============================================================================================*/
* {
  box-sizing: border-box;
}

:root {
  --clr-primary: #C5A26E;

  /*=============== Background ===============*/
  --bg-dark: #070707;
  --bg-dark-opacity: rgba(7, 7, 7, 0.7);

  /*=============== Text ===============*/
  --txt-primary: #C5A26E;
  --txt-light: #CECACA;
  --txt-light-highlight: #E4E4E4;
  --txt-dark: #070707;

  --content-padding: 10vw;
}

/*===========================================================================================
        Font Defaults
=============================================================================================*/
h1 {
  font-family: "Playfair Display", serif;
  font-size: clamp(2.7rem, 8vw, 6.854rem);
  color: var(--txt-primary);
  letter-spacing: 0;
  line-height: 1.11em;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 11.089rem;
  color: var(--txt-primary);
  letter-spacing: 0.01em;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: clamp(2rem, 7vw, 5.063rem);
  color: var(--txt-primary);
  letter-spacing: 0;
  line-height: clamp(1.05em, 10vw, 1.09em);
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 1.618rem);
  font-weight: bold;
  color: var(--txt-dark);
  letter-spacing: 0.01em;
  line-height: 1.35em;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.125rem);
  color: var(--txt-light-highlight);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

ul, span, p, input, select {
  font-family: "Roboto", sans-serif;
}

.text-bold, .btn {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1rem, 1.75vw, 1.125rem);
  font-weight: 700;
  letter-spacing: clamp(0.08em, 0.2vw, 0.15em);
  text-transform: uppercase;
}

.text-md {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6em;
}

/*===========================================================================================
        Helper
=============================================================================================*/
.mobile-only {
  display: none;
}

.img-cover {
  width: 100%;
  height: inherit;
  object-fit: cover;
  display: block;
}

/*=============== Layout ===============*/
.container {
  padding: 0 var(--content-padding);
}

.section-md {
  padding-top: 6.25rem;
  padding-bottom: clamp(5rem, 15vw, 10rem);
  background-color: var(--bg-dark);
}

.section-md h3 {
  max-width: 56.25rem;
}

/*=============== Buttons ===============*/
.btn {
  border-radius: 0.125rem;
  padding: clamp(1rem, 3.5vw, 1.5rem) clamp(1.5rem, 3vw, 2.25rem);
  border: 0.125rem solid var(--clr-primary);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  white-space: nowrap;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--txt-dark);
}

.btn-primary:hover {
  border: 0.125rem solid var(--clr-primary);
  background-color: var(--bg-dark-opacity);
  color: var(--txt-primary);
}

.btn-secondary {
  background-color: var(--bg-dark);
  color: var(--txt-primary);
}

.btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.875rem;
}

/*===========================================================================================
        Header
=============================================================================================*/
header {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: background-color 200ms, height 200ms;
  text-transform: uppercase;
  z-index: 10;
}

.header__scroll {
  height: 4.063rem;
  background-color: var(--bg-dark-opacity);
  backdrop-filter: blur(5px);
}

.logo {
  height: 100%;
}

.logo img {
  height: inherit;
  padding: 0.625rem;
}

.nav-container, .navigation {
  display: flex;
  gap: 3.125rem;
}

.navigation li {
  text-align: center;
}

.navigation__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.313rem;
  transition: color 200ms ease-in-out;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--txt-light);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.navigation__link:hover, .navigation__link.active {
  color: var(--txt-primary);
}

.navigation__link.active {
  font-weight: 700;
}

.navigation__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  transition: color 200ms ease-in-out;
  font-size: 1.875rem;
}

/*===========================================================================================
        Hero
=============================================================================================*/
.hero {
  padding-top: 6.25rem;
  width: 100%;
  display: flex;
  background-color: var(--bg-dark);
  z-index: 2;
  position: relative;
  min-height: var(--hero-min-height);
}

.hero-container {
  display: flex;
  max-height: 100%;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--content-gap);
}

.hero-container .hero__primary {
  max-width: var(--header-max-width);
  flex-grow: 1;
  padding: 6.875rem 4.688rem 10.938rem 4.688rem;
  height: fit-content;
  background-color: var(--bg-dark-opacity);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(2.25rem, 8vw, 3.75rem);
  border: 0.125rem solid var(--clr-primary);
  border-radius: 0.125rem;
}

.hero-container .hero__secondary {
  max-width: 35.313rem;
  flex-grow: 2;
  align-self: flex-end;
  background-color: var(--clr-primary);
  padding:
          clamp(3.125rem, 10vw, 4.688rem)
          clamp(3.75rem, 10vw, 6.25rem)
          clamp(3.125rem, 10vw, 4.688rem)
          4.375rem;
  display: flex;
  flex-direction: column;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--hero-min-height);
  z-index: -1;
}

.hero__background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: var(--bg-dark);
  background: var(--hero-bg-gradient);
}

/*===========================================================================================
        Booking
=============================================================================================*/
.booking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.booking h3 {
  margin-bottom: 3.125rem;
}

.booking__form {
  display: flex;
  flex-direction: row;
  gap: 1.563rem;
  justify-content: center;
}

.booking__form input {
  max-width: 12.5rem;
  width: 100%;
  border-radius: 0.125rem;
  padding: clamp(1rem, 3.5vw, 1.5rem) 1.25rem;
  border: 0.125rem solid var(--clr-primary);
  background-color: var(--bg-dark);
  color: var(--txt-light-highlight);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;
}

/*===========================================================================================
        Address
=============================================================================================*/
.address h3 {
  margin-bottom: 1.875rem;
}

.address .text-bold {
  letter-spacing: 0.01em;
  text-transform: unset;
}

.address__header {
  color: var(--clr-primary);
  opacity: 50%;
}

.address ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  max-width: 10.625rem;
}

.address ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.separator {
  border: none;
  border-bottom: 0.125rem solid var(--clr-primary);
  opacity: 50%;
  width: 100%;
  margin: 1.875rem 0;
}

/*===========================================================================================
        Media Queries
=============================================================================================*/
@media (max-width: 1000px) {
  /*=============== Helper ===============*/
  .mobile-only {
    display: flex;
  }

  .btn-group {
    flex-wrap: wrap;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  /*=============== Navigation Menu ===============*/
  .nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(17.5rem, 50vw, 45vw);
    height: 100vh;
    z-index: 200;
    background-color: var(--bg-dark);
    flex-direction: column;
    transform: translateX(-110%);
    border-right: 0.125rem solid var(--clr-primary);
    gap: 0;
  }

  [data-mobile-menu="open"] {
    transition: transform 200ms ease-in-out;
    transform: translateX(0);
  }

  .nav-container .menu-section {
    position: relative;
    justify-content: center;
  }

  .nav-container .menu-section:first-child {
    height: 6.25rem;
    padding: 1rem 0;
  }

  .navigation {
    padding: 15vh 0;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 0.125rem solid var(--clr-primary);
    border-bottom: 0.125rem solid var(--clr-primary);
  }

  .content-blur::after {
    content: '';
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-dark-opacity);
  }

  /*=============== Hero ===============*/
  .hero {
    padding-left: 0;
  }

  .hero-container .hero__primary {
    width: 100%;
    padding: 5rem 1.875rem 4.688rem 10vw;
    border-left: none;
  }

  /*=============== Booking ===============*/
  .booking__form {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .booking__form input {
    max-width: 25rem;
    width: 100%;
  }
}






