/*===========================================================================================
        Hero
=============================================================================================*/
.hero {
  --hero-min-height: 54.375rem;
}

.hero-container {
  --content-gap: 5rem;
}

.hero-container .hero__primary {
  --header-max-width: 55.625rem;
}

.hero-container .hero__secondary {
  justify-content: center;
  gap: clamp(2.25rem, 8vw, 3.75rem);
}

.hero__secondary .btn {
  align-self: flex-end;
}

.hero__secondary .content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero__secondary .content ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.hero__secondary .content ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero__background {
  --hero-bg-gradient: linear-gradient(
          180deg,
          var(--bg-dark) 0%,
          rgba(7,7,7,0.5) 20%,
          rgba(7,7,7,0.5) 60%,
          rgba(7,7,7,0.7) 75%,
          var(--bg-dark) 90%
  )
}

/*===========================================================================================
        News
=============================================================================================*/
.news__content {
  margin-top: clamp(3.125rem, 9vw, 5.625rem);
  display: flex;
  overflow: hidden;
}

.news__content::before, .news__content::after {
  content: '';
  margin: auto;
}

.news__news-card-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: clamp(1.25rem, 5vw, 3.75rem);
}

.news-card {
  min-width: 21.875rem;
  max-width: 21.875rem;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  border-radius: 0.313rem;
  position: relative;
}

.news-card:hover {
  cursor: pointer;
}

.news-card__image {
  border-top-left-radius: 0.313rem;
  border-top-right-radius: 0.313rem;
  overflow: hidden;
  height: 18.75rem;
}

.news-card__description {
  font-size: 1rem;
  padding: 1.5rem 1.5rem 3.125rem 1.563rem;
}

.news-card__description .date {
  display: flex;
  gap: 0.688rem;
  align-items: center;
}

.news-card__description .circle {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: var(--txt-dark);
}

.news-card__description h4 {
  margin: 1.5rem 0 1.25rem 0;
}

.news-card::after {
  content: '';
  position: absolute;
  bottom: 3.125rem;
  left: 0;
  width: 6.25rem;
  border-bottom: 0.063rem solid var(--bg-dark);
}

/*===========================================================================================
        Section Medium
=============================================================================================*/
.content-section .image-container {
  --image-size: 37.5rem;
}

.content-section .text-container {
  --text-container-size: 42.188rem;
}

/*===========================================================================================
        Media Queries
=============================================================================================*/
@media (max-width: 1000px) {
  /*=============== Hero ===============*/
  .hero__secondary {
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--content-padding));
    padding-left: 0;
    padding-right: 0;
    margin-left: var(--content-padding);
    align-self: unset;
  }

  .hero__secondary .btn {
    align-self: center;
  }

  /*=============== News ===============*/
  .news {
    padding-right: 0;
  }

  .news h3 {
    padding-right: var(--content-padding);
  }

  .news-card {
    min-width: 18.75rem;
    max-width: 18.75rem;
  }

  .news-card__image {
    height: 13.75rem;
  }

  /*=============== Content Section ===============*/
  .flex-wrap-reverse > .mobile-bordered {
    --txt-bg-gradient: linear-gradient(
            180deg,
            rgba(7, 7, 7, 0) 0%,
            rgba(7, 7, 7, 1) 10%,
            rgba(7, 7, 7, 1) 80%,
            rgba(7, 7, 7, 0) 100%
    );
  }

  .flex-wrap > .mobile-bordered::after {
    --txt-bg-gradient: linear-gradient(
            180deg,
            rgba(7, 7, 7, 0) 0%,
            rgba(7, 7, 7, 1) 5%,
            rgba(7, 7, 7, 1) 95%,
            rgba(7, 7, 7, 0) 100%
    );
  }

}