/*===========================================================================================
        Hero
=============================================================================================*/
.hero-container {
  --grid-columns: 1fr;
  --grid-rows: 1fr;
  padding-bottom: 2.5rem;
}

.hero__primary {
  --hero__primary-grid-column: 1;
}

.hero__primary-text {
  max-width: 48.125rem;
}

.hero__primary-text .text-container {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  color: var(--txt-light);
}

.hero__primary-text .text-container .line {
  border-top: 0.125rem solid var(--clr-primary);
  min-width: 4.375rem;
  margin-top: 0.625rem;
}

/*===========================================================================================
        Content Section
=============================================================================================*/
.content-section .image-container {
  --image-size: 31.25rem;
}

.content-section .text-container {
  --text-container-size: 43.75rem;
}

/*===========================================================================================
        Header Section
=============================================================================================*/

.header-section .left-aligned h2 {
  align-self: center;
}

/*===========================================================================================
        Media Queries
=============================================================================================*/
@media (max-width: 1300px) {
  /*=============== Hero ===============*/
  .hero-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .hero__primary {
    grid-row: 1;
  }
}


@media (max-width: 1000px) {
  /*=============== Hero ===============*/
  .hero__primary-text .text-container .line {
    display: none;
  }

  .hero__primary {
    border-left: none;
    width: 100%;
  }

  /*=============== Header Section ===============*/
  .header-section .left-aligned h2 {
    align-self: flex-start;
  }
}